WindowsFormsClient/Service References/DeuffService/ErrorLoggingTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="clientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clientInfo" nillable="true" type="tns:clientInfo" />
  <xs:complexType name="bugData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BugId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreOptions" type="xs:int" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bugData" nillable="true" type="tns:bugData" />
  <xs:complexType name="responseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BugId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Solution" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Vote" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseInfo" nillable="true" type="tns:responseInfo" />
  <xs:complexType name="suggestAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BugId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Os" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stacktrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="suggestAnswer" nillable="true" type="tns:suggestAnswer" />
</xs:schema>