WindowsFormsClient/Service References/DeuffService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" />
  <xs:element name="GetUserDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" minOccurs="0" name="GetUserDetailResult" nillable="true" type="q1:clientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" minOccurs="0" name="input" nillable="true" type="q2:bugData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" minOccurs="0" name="GetAnswerResult" nillable="true" type="q3:responseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" minOccurs="0" name="response" nillable="true" type="q4:suggestAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="voteAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ErrorLoggingTest" minOccurs="0" name="response" nillable="true" type="q5:suggestAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="voteAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>